.TodoList {
  padding: 0;
  width: 300px;
  @include z-depth(2);


  &__item {
    cursor: pointer;
    list-style: none;
    padding: 5px;

    &:nth-child(odd) {
      background: $md-grey-200;
    }

    &--complete {
      text-decoration: line-through;
    }
  }
}
