// ---------------------------------------------
// ------ Reset
// ---------------------------------------------
@import '~normalize.css/normalize.css';

// Apply a natural box layout model to all elements,
// but allowing components to change
html
  box-sizing border-box

*
*:before
*:after
  box-sizing inherit

// ---------------------------------------------
// ------ Fonts
// ---------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:500|Source+Sans+Pro:300,300i,600');

// ---------------------------------------------
// ------ Typography
// ---------------------------------------------
$body-font = text-font-stack

$min-font = 16px

typographic()

// ---------------------------------------------
// ------ Helpers
// ---------------------------------------------

// ---------------------------------------------
// ------ Basic Styles
// ---------------------------------------------
